.footer img {
    max-width: 20vw;
    height: auto;
    object-fit: contain;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 20px;
}
.footer-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 980px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer img {
        display: none;
    }
    .socials {
        display: none;
    }
}