.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 80vw;
    margin: 0 auto;
}
.header img {
    width: 20vw;
}
@media screen and (max-width:980px) {
    .header {
        display: flex;
        flex-direction: column;
    }
}
