
.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul li  {
    margin: 0px 10px;
}
.navigation ul li a {
    text-decoration: none;
    color: #000;
}
.navigation ul li a:hover {
    color:#515151;
}
@media screen and (max-width: 980px) {
    .navigation ul {
      flex-direction: column; /* Change flex direction to column for mobile view */
      align-items: center; /* Center the items */
      width: 100%; /* Make sure the navigation takes full width */
    }
    .navigation ul li {
      margin: 10px 0; /* Add margin between items vertically */
    }
  }